
.DS_Store
*.iml
*.xml
CV2_HW1_yp2607/HW2_CV2_yp2607.ipynb.html
HW2/Section1_MLP_Primer.pdf
HW2/Section1_MLP_Primer.pdf
HW2/.ipynb_checkpoints/VN-checkpoint.ipynb
HW2/.ipynb_checkpoints/HW2_CV2_UNI-checkpoint.ipynb
.ipynb_checkpoints/CV2_HW2_iv2245-checkpoint.ipynb
HW2/.ipynb_checkpoints/HW2_CV2_yp2607-checkpoint.ipynb
